.rightpopup {
	background-color: #fff;
	width: 100%;
	position: fixed;
	margin: 0px;
	padding: 15px;
	z-index: 1010;
	.transition(all 0.3s);
	overflow-y: auto;
	top: @topbar-height;
	right: 0;
	.transform(translateX(100%));
	max-height: calc(~"100% - 90px");

	h2 {
		font-weight: 800;
		font-size: 22px;
		color: #1c1d1f;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
	}

	.products {
		.product {
			.make-row();
			border-bottom: 1px solid #babbbb;
			padding-top: 20px;
			padding-bottom: 20px;
			margin: 0px 15px;

			.image {
				.make-xs-column(4, 0px);
				text-align: center;

				img {
					max-width: 45px;
					display: inline-block;
				}
			}

			.info {
				.make-xs-column(8, 0px);
				position: relative;

				h3 {
					font-weight: 800;
					font-size: 16px;
					color: #1c1d1f;
					margin: 0px 0px 20px 0px;
				}

				p {
					font-weight: 300;
					font-size: 16px;
					color: #b7b7b7;
					margin: 0;
					line-height: 1;
				}

				a.cart-delete {
					color: #b6b6b6;
					text-decoration: none;
					font-weight: 800;
					position: absolute;
					right: 0px;
					top: 50%;

					&:hover {
						color: #ff0000;
					}
				}
			}
		}
	}

	.summary {
		font-size: 17px;	//20px;
		font-weight: 100;
		color: #1c1d1f;
		.price {
			font-weight: 800;
			border-top: 1px solid #babbbb;
		}

		.row {
			padding-top: 7px;
			padding-bottom: 7px;
			margin: 0px;
		}

		.right {
			text-align: right;
		}
	}

	.center {
		text-align: center;
	}

	a.btn {
		margin-bottom: 10px;
		margin-top: 30px;
		width: 100%;
	}

	a.link {
		font-size: 14px;	//18px;
		font-weight: 100;
		color: #1c1d1f;
		text-decoration: underline;
		text-transform: uppercase;

		&.mobile {
			display: block;
			text-align: center;
			color: #990000;

			&:hover {
				color: red;
			}
		}
	}

	label {
		display: block;
		font-weight: 800;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	input {
		background-color: #f7f8f9;
		border: 1px solid #d2d2d2;
		color: #1d1e20;
		font-size: 15px;
		padding: 15px;
		width: 100%;
		margin-bottom: 20px;
	}

	&.active {
		.transform(translateX(0));
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;
			border-bottom: 1px solid #babbbb;

			&:last-child {
				border-bottom: 0;
			}

			a {
				padding: 15px;
				text-decoration: none;
				font-size: 18px;
				display: block;
			}
		}
	}

	.btn-grey {
		margin-top: 50px;
	}

	@media (min-width: @screen-sm-min) {
		& {
			width: 300px;
			right: 0px;
			.transform(translateX(300px));
			overflow-y: auto;
			top: 0;
			height: auto;
			padding-bottom: 0;
			max-height: 100%;
			//height: 600px;
			height: 100%;
		}

		a.back-link.mobile {
			display: none;
		}
	}
}

#cart {
}

#account {
	.center p {
		font-size: 14px;
		margin: 25px 0px 0px 0px;
	}
}

#push-wrapper, #header {
	.transition(transform 0.3s);
}

#push-wrapper.pushed {
	.transform(translateX(-100%));
}

@media (min-width: @screen-sm-min) {
	#push-wrapper.pushed, #header.pushed {
		.transform(translateX(-300px)) !important;
	}
}